[user]
name = raku-cat
email = raku@raku.party
	signingkey = 6A98C0635FA969FB
[push]
        default = simple

[color]
	ui = auto
[credential]
	helper = netrc -f ~/.netrc.gpg -v
[commit]
	gpgsign = true
