[Unit]
Description=Compositing manager
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/glendale -d :0

[Install]
WantedBy=xsession.target