[Unit]
Description=Polkit Agent
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/lxqt-policykit-agent

[Install]
WantedBy=xsession.target