[Unit]
Description=Local add-on manager for Stremio
PartOf=graphical-session.target

[Service]
ExecStart=/bin/stremio

[Install]
WantedBy=xsession.target