[Unit]
Description=Removable disk automounter using udisks
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie -a -s

[Install]
WantedBy=xsession.target